#mjs-wrapper {
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 35px;
}

#mjs-button {
    background-color: #b5d796;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    transform: rotate(45deg);
    transition-duration: 0.3s;
    transition-delay: 0.2s; /* toolbar hide delay */
}

#mjs-button {
    width: 50px;
    height: 50px;
}

.mjs-button {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

#mjs-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*rotate on active*/
#mjs-wrapper.mjs-active #mjs-button {
    transform: rotate(0deg);
    transition-delay: 0s;
}

.mjs-icon {
    border: none;
    background: none;
    transition-duration: 0.3s!important;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: transform .16s linear,opacity .08s linear;
    transition: transform .16s linear,opacity .08s linear,-webkit-transform .16s linear;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: scale(0.5)
    }
    100% {
        transform: rotate(90deg) scale(1);
    }
}

.mjs-icon.mjs-loading {
    pointer-events: none;
    width: 40%;
    height: 40%;
    margin: 30%;
    background: white;
    animation: spin 1s ease-in-out;
    animation-iteration-count: infinite;
}

#mjs-icon-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAAD///////////////////////////8AAADr8xjQAAAAB3RSTlMAM7cPx7jIAE21/gAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABESURBVAjXYxAyYGBgYFZkUHcG0ialDCYlBgzM7slA7MxgUgaUNCkzdgfJMbunlIDUMpiUg7hwGiYOVQfTBzMHZi7UHgCB3RAZ7HszogAAAABJRU5ErkJggg==);
    background-size: 14px 14px;
    background-position: 50%;
}

#mjs-icon-open {
    background-image: url(http://www.clker.com/cliparts/n/U/H/1/H/u/search-icon-white-one-hi.png);
    background-size: 20px 20px;
    background-position: center;
}

#mjs-wrapper:not(.mjs-active) #mjs-button #mjs-icon-close {
    transform: rotate(30deg) scale(0);
}

#mjs-button #mjs-icon-open {
    transition-duration: 0.5s;
    transform: rotate(-45deg)  scale(1);
}

#mjs-wrapper.mjs-active #mjs-button #mjs-icon-open {
    transition-duration: 0.5s;
    transform: rotate(-45deg) scale(0);
}

#mjs-toolbar {
    height: 50px;
    /*width: 300px;*/
    position: fixed;
    right: 85px;
    bottom: 35px;
    transform: translateX(50%) scaleX(0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#mjs-wrapper.mjs-active #mjs-toolbar {
    transform: translateX(0) scaleX(1);
    transition-delay: 0.3s; /* button rotate delay */
    transition-duration: 0.2s;
}

.mjs-toolbar-item-extension {
    max-width: 200px;
    flex-basis: 0px;
    flex-grow: 0;
    transition-duration: 0.2s;
}

.mjs-toolbar-item-extension.mjs-active {
    flex-grow: 1;
}

#mjs-toolbar .mjs-toolbar-item.mjs-button {
    width: 50px;
    flex: 0 0 50px;
}

#mjs-toolbar .mjs-button {
    background-color: #8eb778;
    color: white;
}
#mjs-toolbar .mjs-button:hover {
    background-color: #9bc385;
}

#mjs-toolbar #mjs-reset {
    background-image: url(http://pngify.me/gd/makefg.php?i=icons/Application/command-reset.png&r=255&g=255&b=255);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: #5099da;
    color: white;
}

#mjs-toolbar #mjs-reset:hover {
    background-color: #61a6e1;
}

#mjs-icon-share {
    background-image: url(https://cdn2.iconfinder.com/data/icons/lightly-icons/30/share-480.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.input-wrap {
    background-color: #83a17a;
}

.input-wrap input {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 16px;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    
    color: white;
    border: none;
    background: transparent;
}

.mjs-toolbar-item-extension:not(.mjs-active) input {
    transition-delay: 0.1s;
    padding: 10px 0px;
}